@tailwind base;
@tailwind components;
@tailwind utilities;

.button:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-8px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}



.glow {
    filter: drop-shadow(0 0 25px white);
}


.loader {
    clear: both;
    width: 25%;
    height: 2rem;
    margin: 1rem auto;
    border: 0.0625rem #000 solid;
    border-radius: 0.25rem;
    position: relative;
    background: linear-gradient(45deg, transparent 49%, #000 50%, #000 50%, transparent 51%, transparent),
                  linear-gradient(-45deg, transparent 49%, #000 50%, #000 50%, transparent 51%, transparent);
    background-size: 1rem 1rem;
    background-position: 0% 0%;
    -webkit-animation: spTexture 0.5s infinite linear;
    animation: spTexture 0.5s infinite linear;
  }
  
  @keyframes spTexture {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: -1rem 0;
    }
  }